<div class="card">
    <div class="card-header">
      <h4>Ticket </h4>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ ticket.title }}</h5>
      <p class="card-text">{{ ticket.content}}</p>
      <p class="card-text">Statut : {{ ticket.statut }}</p>
      <p class="card-text">Créé le : {{ ticket.creation_date}}</p>
     <div class="card-footer">
      <button class="btn btn-primary" (click)="updateTicketPage(ticket)">Modifier</button>
    </div>
  </div>
