.card {
    margin-bottom: 20px;
  }
  
  .card-header {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px 5px 0 0;
  }
  
  .card-body {
    padding: 10px;
  }
  
  .card-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .card-footer {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 0 0 5px 5px;
  }
  
  .btn-primary {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #0069d9;
  }
  