<div *ngIf="projetDetail" class="tick-container">
    <div class="tick-header">
      <h1 class="tick-title">{{projetDetail.name}}</h1>
      <div class="tick-actions">
        <button class="tick-btn-update" (click)="openAddTicketModal()">Add ticket</button>
        <button class="tick-btn-update">Update</button>
        <button class="tick-btn-delete" (click)="deleteProjet()">Delete</button>
      </div>
    </div>
    <p class="tick-description">{{projetDetail.description}}</p>
  
    <h2 class="tick-heading">Tickets:</h2>
    <ul class="tick-ticket-list">
      <li class="tick-ticket" style="background-color: #eee;" *ngFor="let ticket of tickets">
        <div class="tick-ticket-header">
          <h3 class="tick-ticket-title">{{ ticket.title }}</h3>
          <div class="tick-ticket-actions">
            <input type="hidden" name="ticketId" [value]="ticket.id">
            <button style="background-color: darkslategrey" class="tick-btn-update">Update</button>
            <button style="background-color:brown" class="tick-btn-delete" (click)="deleteTicket(ticket.id)">Delete</button>
          </div>
        </div>
        <p class="tick-ticket-content">{{ ticket.content }}</p>
        <p class="tick-ticket-statut">Statut: {{ ticket.statut }}</p>
      </li>
    </ul>
  </div>
  

  <!-- Add Ticket Modal -->
  <div *ngIf="showAddTicketModal" style="background-color:rgba(0, 0, 0, 0.1); width : 100%; height: 100%; position: absolute; top: 0;" class="tick-modal">
    <div class="tick-modal-content" style="width: 50%; position: absolute; left: 50%; margin-left: -25%; background-color: #fff; top : 50px; padding: 50px;">
      <span class="tick-modal-close" (click)="closeAddTicketModal()">&times;</span>
      <h3 class="tick-modal-heading">Add Ticket</h3>
      <form class="tick-modal-form" (submit)="addTicket()">
        <div class="tick-form-group">
          <label class="tick-form-label">Title:</label>
          <input class="tick-form-input" type="text" [(ngModel)]="newTicket.title"  [ngModelOptions]="{standalone: true}" required>
        </div>
        <div class="tick-form-group">
          <label class="tick-form-label">Content:</label>
          <textarea class="tick-form-input" rows="5" [(ngModel)]="newTicket.content"  [ngModelOptions]="{standalone: true}" required></textarea>
        </div>
        <div class="tick-form-group">
          <label class="tick-form-label">Status:</label>
          <select class="tick-form-input" [(ngModel)]="newTicket.statut"  [ngModelOptions]="{standalone: true}" required>
            <option value="A faire">A faire</option>
            <option value="En cours">En cours</option>
            <option value="Terminé">Terminé</option>
          </select>
        </div>
        <br><br>
        <div class="tick-modal-actions">
          <button type="submit" class="tick-btn-primary">Add Ticket</button>
          <button type="button" class="tick-btn-secondary" (click)="closeAddTicketModal()">Cancel</button>
        </div>
      </form>
    </div>
  </div>