.tick-container {
  margin: 2rem auto;
  max-width: 600px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
}

.tick-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tick-title {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
}

.tick-actions {
  display: flex;
  gap: 1rem;
}

.tick-btn-update,
.tick-btn-delete {
  background-color: #bf1d67;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.tick-btn-update:hover {
  background-color: #9c145a;
}

.tick-btn-delete:hover {
  background-color: #9c145a;
}

.tick-description {
  margin-top: 2rem;
  font-size: 1.2rem;
  line-height: 1.5;
}

.tick-heading {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.tick-ticket-list {
  list-style-type: none;
  padding: 0;
}

.tick-ticket {
  margin-top: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
}

.tick-ticket-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tick-ticket-title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.tick-ticket-actions {
  display: flex;
  gap: 1rem;
}

.tick-ticket-content {
  margin-top: 1rem;
  font-size: 1.2rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-top: 10px;
  font-size: 1rem;
  line-height: 1.5rem;
  }
  
  .tick-ticket-statut {
  margin: 5px 0;
  font-size: 0.8rem;
  color: gray;
  }
  
  .tick-btn-update-ticket,
  .tick-btn-delete-ticket {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 1rem;
  transition: all 0.3s ease;
  }
  
  .tick-btn-update-ticket {
  background-color: #7C68E9;
  color: #fff;
  }
  
  .tick-btn-update-ticket:hover {
  background-color: #6353b5;
  }
  
  .tick-btn-delete-ticket {
  background-color: #BF1D67;
  color: #fff;
  }
  
  .tick-btn-delete-ticket:hover {
  background-color: #9c145a;
  }
  
  .tick-btn-update-projet,
  .tick-btn-delete-projet {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 1rem;
  transition: all 0.3s ease;
  }
  
  .tick-btn-update-projet {
  background-color: #7C68E9;
  color: #fff;
  }
  
  .tick-btn-update-projet:hover {
  background-color: #6353b5;
  }
  
  .tick-btn-delete-projet {
  background-color: #BF1D67;
  color: #fff;
  }
  
  .tick-btn-delete-projet:hover {
  background-color: #9c145a;
  }

  .projets-list {
    list-style-type: none;
    margin: auto;
  }
  
  .projet-item {
    margin-bottom: 1rem;
    border: 1px solid var(--primary-color);
    width: 150px;
    padding: 1rem;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
  }
  
  .projet-item:hover {
    background-color: var(--secondary-color);
    color: black;
  }
  
  .projet-link {
    text-decoration: none;
  }
  
  .projet-title {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* semi-transparent black */
    z-index: 10; /* ensure the modal is on top of other elements */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    width: 400px; /* adjust the width as needed */
  }
  
  h2 {
    margin-top: 0;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
  }
  
  button[type="submit"],
  button[type="button"] {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    margin-right: 1rem;
    transition: all 0.3s ease;
  }
  
  button[type="submit"] {
    background-color: #BF1D67;
    color: #fff;
  }
  
  button[type="submit"]:hover {
    background-color: #9c145a;
  }
  
  button[type="button"] {
    background-color: #7C68E9;
    color: #fff;
  }
  
  button[type="button"]:hover {
    background-color: #6353b5;
  }
  