body {
  background-color: black !important;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    font-size: 18px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    cursor: pointer;
  }
  
  li:hover {
    background-color: #e0e0e0;
  }
  
  h2 {
    font-size: 20px;
    margin-top: 30px;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 10px;
  }
  