header {
    background-color: orange;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li {
    display: inline-block;
    margin: 0 10px;
  }
  
  nav li a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  nav li a:hover {
    background-color: #fff;
    color: #000;
  }