<main>
  <br>
  <div style="display: flex; align-items: center; justify-content: space-between;">
    <h1 style="margin: 0;">Liste des projets</h1>
    <button (click)="showForm = true" style="background-color: #4F8DF5; border: none; color: #fff; padding: 0.5rem 1rem; border-radius: 5px; cursor: pointer;">Ajouter projet</button>
  </div>
  <br><br>
<div style="display: flex; flex-wrap: wrap;">
  <div *ngFor="let projet of projets" style="width: calc(33.33% - 1rem); margin: 0.5rem;">
    <div  [routerLink]="['projets',projet.id]" style="background-color: #7C68E9; border-radius: 5px; color: #fff; cursor: pointer; padding: 1rem; text-align: center; box-shadow: 0 4px 6px rgba(0,0,0,0.1);">
      <h3 style="margin: 0;">{{projet.name}}</h3>
      <p style="font-size: 0.8rem; margin-top: 0.5rem;">{{projet.description}}</p>
      <div style="display: flex; justify-content: space-between; margin-top: 0.5rem;">
        <div style="background-color: #00E3EC; border-radius: 5px; color: #fff; padding: 0.5rem; text-align: center; width: 40%;">
          {{projet.creation_date}}
        </div>
        <div style="background-color: #BF1D67; border-radius: 5px; color: #fff; padding: 0.5rem; text-align: center; width: 40%;">
          {{projet.creation_date}}
        </div>
      </div>
    </div>
  </div>
</div>


<div *ngIf="showForm" style="background-color: rgba(0, 0, 0, 0.1); padding: 1rem; width: 100%; height: 100%; position: absolute; top: 0;">
  <div style="background-color: #fff; border-radius: 5px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); padding: 30px; margin-bottom: 1rem; width: 50%; position: absolute; left: 50%; margin-left: -25%;">
    <h2>Ajouter un projet</h2>
    <form (ngSubmit)="addProject()">
      <div class="form-group">
        <label for="name">Nom du projet</label>
        <input type="text" id="name" name="name" [(ngModel)]="newProject.name" required>
      </div>
      <div class="form-group">
        <label for="description">Description du projet</label>
        <textarea id="description" name="description" rows="5" [(ngModel)]="newProject.description"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn-primary">Ajouter</button>
        <button type="button" class="btn-secondary" (click)="showForm = false">Annuler</button>
      </div>
    </form>
  </div>
</div>
</main>





<footer style="background-color: #fff; color: #747474; padding: 1rem; position :absolute; bottom: 0; width: 100%;">
  <p style="margin: 0;">Copyright © 2023 Nom de l'application</p>
</footer>
