.projets-list {
  list-style-type: none;
  margin: auto;
}

.projet-item {
  margin-bottom: 1rem;
  border: 1px solid var(--primary-color);
  width: 150px;
  padding: 1rem;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
}

.projet-item:hover {
  background-color: var(--secondary-color);
  color: black;
}

.projet-link {
  text-decoration: none;
}

.projet-title {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* semi-transparent black */
  z-index: 10; /* ensure the modal is on top of other elements */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: 400px; /* adjust the width as needed */
}

h2 {
  margin-top: 0;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

button[type="submit"],
button[type="button"] {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 1rem;
  transition: all 0.3s ease;
}

button[type="submit"] {
  background-color: #BF1D67;
  color: #fff;
}

button[type="submit"]:hover {
  background-color: #9c145a;
}

button[type="button"] {
  background-color: #7C68E9;
  color: #fff;
}

button[type="button"]:hover {
  background-color: #6353b5;
}
