<form>
    <div>
      <label for="name">Nom</label>
      <input type="text" id="name" name="name">
    </div>
  
    <div>
      <label for="description">Description</label>
      <textarea id="description"  name="description"></textarea>
    </div>
</form>


